<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport"
	          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	    <title>Join Page</title>
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
	
		<form class="joinForm" action="/joinProc" method="post" name="joinForm">
		    아이디 : <input id="username" class="inputText" type="text" name="username" placeholder="Username"/><br><br>
		    패스워드 : <input id="password" class="inputText" type="password" name="password" placeholder="Password"/><br><br>
		    이름: <input id="name" class="inputText" type="text" name="name" placeholder="Name"/><br>

			<input class="submitBT" type="submit" value="Join"/>
			<button id="ID_CK" class="submitBT" onclick="Duplicate_check();">중복확인</button>
		</form>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>
		function Duplicate_check() {
			console.log("중복확인");
			userData = { username: $("input[name='username']").val() };
			$.ajax({
			                    url: '/join/idCK.do',
			                    method: 'GET',
			                    data: userData,
			                    success: function(data) {
				                    if(data.result == 'NOT_EXIST') {
				                    	alert("생성가능한 ID입니다.");
				                    }else{
				                    	alert("ID가 이미 존재합니다.");
				                    }
			                    }
			                });
					}
	</script>
</html>