<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css"> 
</head>
<body>

     <div class="login-container">
        <h2>로그인</h2>
        <form id="loginForm" action="/loginProc" method="post" name="loginForm">
            <div class="form-group">
                <label for="username">사용자 이름</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit" value="login">로그인</button>
        </form>
        <div class="error-message" id="errorMessage" style="display:none;"></div>
    </div>


    
</body>
</html>